.category-list {
    margin-top: 2rem;
    text-align: left; 
    margin: 0 auto; 
    max-width: 800px; 
  }
  
  .category-list h3 {
    font-size: 15.4px;
    font-weight: bold;
    margin-bottom: 1rem;
    display: inline-block;
    text-align: left;
  }
  
  .category-list ul {
    list-style: none;
    padding: 0;
  }
  
  .category-list li {
    margin-bottom: 0.5rem;
  }
  
  .category-list a {
    text-decoration: none;
    color: $link-color;
  }
  
  .category-list a:hover {
    text-decoration: underline;
    color: $link-color-hover;
  }