  .category-list {
    margin-top: 2rem;
    text-align: center; 
    margin: 0 auto; 
    max-width: 400px; 
  }
  
  .category-list h3 {
    font-size: 15.4px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
    text-align: left;
    border-bottom: 1.5px solid #1d2228;
  }
  
  .category-list ul {
    list-style: none;
    padding: 0;
  }
  
 .category-list li {
   font-size: 13px;
   text-align: left;
   margin-bottom: 0rem;
   border: none;
   padding: 5.5px; 
  //  border-radius: 4px;
   border-bottom: 1px solid #ddd;
}
  
  .category-list a {
    text-decoration: none;
    color: #d5e7ed;
  }
  
  .category-list a:hover {
    text-decoration: underline;
    color: $link-color-hover;
  } 

#paginated-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
}

#paginated-list li {
  display: none;
}

#pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

#pagination-controls button {
  background-color: #1d2228;
  margin-top: 0.2rem;
  color: white;
  border: none;
  padding: 3px 16px;
  margin: 0 10px;
  border-radius: 3px;
  cursor: pointer;
}

#pagination-controls button:disabled {
  background-color: #ddd;
  cursor: default;
}