  .category-list {
    margin-top: 2rem;
    text-align: center; 
    margin: 0 auto; 
    max-width: 400px; 
  }
  
  .category-list h3 {
    font-size: 15.4px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
    text-align: left;
    border-bottom: 1.5px solid #1d2228;
  }
  
  .category-list ul {
    list-style: none;
    padding: 0;
  }
  
 .category-list li {
   font-size: 13px;
   text-align: left;
   margin-bottom: 0rem;
   border: none;
   padding: 5.5px; 
  //  border-radius: 4px;
   border-bottom: 1px solid #ddd;
}
  
  .category-list a {
    text-decoration: none;
    color: #4a6169;
  }
  
  .category-list a:hover {
    text-decoration: underline;
    color: $link-color-hover;
  } 

#paginated-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
}

#paginated-list li {
  display: none;
}

#pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

#pagination-controls button {
  background-color: #1d2228;
  margin-top: 0.2rem;
  color: white;
  border: none;
  padding: 3px 16px;
  margin: 2px 10px;
  border-radius: 50px;
  cursor: pointer;
}

#pagination-controls button:disabled {
  background-color: #ddd;
  cursor: default;
}

/* image modal */
.modal {
  display: none;
  z-index: 500;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalBox {
  position: relative;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-height: 80%;
  overflow: hidden;
}

.author__avatar img:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/* image modal end */

/* 코드 블록 기본 스타일 */
pre {
  background-color: #1e1e1e; /* 다크 배경 */
  color: #d4d4d4; /* 기본 텍스트 색상 */
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Courier New", Courier, monospace;
}

/* 코드 텍스트 스타일 */
code {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

/* 키워드 (def, return 등) */
pre .keyword {
  color: #569cd6; /* 파란색 */
  font-weight: bold;
}

/* 문자열 */
pre .string {
  color: #ce9178; /* 주황색 */
}

/* 숫자 */
pre .number {
  color: #b5cea8; /* 연한 녹색 */
}

/* 주석 */
pre .comment {
  color: #6a9955; /* 녹색 */
  font-style: italic;
}

/* 함수 이름 */
pre .function {
  color: #dcdcaa; /* 연한 노란색 */
  font-weight: bold;
}

/* 클래스 이름 */
pre .class {
  color: #4ec9b0; /* 청록색 */
  font-weight: bold;
}

/* 연산자 */
pre .operator {
  color: #d4d4d4; /* 기본 텍스트 색상 */
}

/* 변수 및 인자 */
pre .variable {
  color: #9cdcfe; /* 연한 파란색 */
}

/* 불리언, None 등 특별 값 */
pre .constant {
  color: #569cd6; /* 파란색 */
  font-weight: bold;
}
