/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 90%;
  font-family: $sans-serif;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  overflow-x: auto;
  word-break: keep-all;
  overflow-wrap: break-word;
  

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: #e3e3e3;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: start;
  border: 1px solid $border-color;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
  border: 1px solid $border-color;
}

tr,
td,
th {
  vertical-align: middle;
  word-break: keep-all;
  overflow-wrap: break-word;
}
